*.o
*.lo
*.la
Makefile.in
Makefile
.deps
.libs
*~
libtool
ltmain.sh
m4
missing
install-sh
include/config.h*
include/stamp-h1
compile
config.guess
config.log
config.sub
config.status
configure
depcomp
*.egg-info
__pycache__
aclocal.m4
autom4te.cache
include/stamp-h2
ylwrap
build
